
footer{
    background: var(--light-gray);
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

.partFooter{
    width: 20%;
    text-align: center;
}

.partFooter h4{
    color: var(--dark-blue);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a{
    display: block;
    text-decoration: none;
    color: var(--light-blue);
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;

}

.partFooter a:hover{
    color: var(--light-green);

}

.partFooter img{
    width: 70%;
}

.social-media #b-icon{
    font-size: 20px;
    display: inline-block;
    color: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;

}

.social-media #b-icon:hover{
    color: var(--white);
    background-color: var(--light-green);
    border-color: var(--light-green);
    
}
